.HeaderPicture {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 200px;
}

.Main {
  background-image: url(https://media.giphy.com/media/l1KVcrdl7rJpFnY2s/giphy.gif);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: round;
}

.container-fluid {
  display: flex;
  justify-content: space-around;
}

.Asteroids {
  width: 70vw;
  justify-content: center;
  margin: auto;
}

h1{
  font-family: Bangers;
  text-align: center;
  font-size: 100px;
  text-shadow: 2px 2px red;
  color: white;
}
